# NPM Config
# See: [Docs](https://docs.npmjs.com/cli/v7/configuring-npm/npmrc/)

init.author.name = "Roman Minchyn"
init.author.email = "hello@roman-minchyn.de"
init.author.url = "https://roman-minchyn.de"
init.license = "SEE LICENSE IN LICENSE"
init.version = "0.0.1"
scope = "@dnepro"
editor = "vscode"
loglevel = warn
fund = false
sign-git-commit = true
save-prefix = "~"
audit = true
audit-level = "low"
